/*********************************
            RESET
*********************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: black;
  color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*********************************
            FONTS
*********************************/
body {
  font-family: "Open Sans", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

/*********************************
            BUTTONS
*********************************/
.search-bar__form-submit {
  font-size: 1.4rem;
  padding: 0.3rem 0.8rem;
  border: solid #E5E5E5 1px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.search-bar__form-submit:hover, .search-bar__form-submit:focus {
  background-color: #ce8929;
  box-shadow: inset 0rem 0rem 0.8rem -0.2rem white, inset 0rem 0rem 0.8rem -0.4rem #ffd60b, 0rem 0rem 0.8rem -0.4rem white, 0rem 0rem 0.8rem -0.2rem white, 0rem 0rem 0.8rem #ffd60b;
}

/*********************************
            CARDS
*********************************/
.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: visible;
  display: block;
  position: relative;
  color: #fcfdfe;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.7s;
}
.card__image {
  background-size: cover;
  height: 200px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
  clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
  background-position: center;
}
.card__content {
  position: absolute;
  bottom: 0;
  padding: 3em 1em 1em;
  height: 230px;
  width: 100%;
  z-index: -1;
}
.card__article, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__back {
  transform: rotateY(180deg);
  padding: 5em 1em;
}
@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}

.card-area * {
  transform-style: preserve-3d;
}
.card-area:nth-child(10n+1) > .card, .card-area:nth-child(10n+1) > .card .card-area__back {
  background-image: linear-gradient(to top, #b429f9, #26c5f3);
}
.card-area:nth-child(10n+2) > .card, .card-area:nth-child(10n+2) > .card .card-area__back {
  background-image: linear-gradient(to top, #af1239, #cce269);
}
.card-area:nth-child(10n+3) > .card, .card-area:nth-child(10n+3) > .card .card-area__back {
  background-image: linear-gradient(to top, #0b3866, #3ddab2);
}
.card-area:nth-child(10n+4) > .card, .card-area:nth-child(10n+4) > .card .card-area__back {
  background-image: linear-gradient(to top, #f40752, #7c65a9);
}
.card-area:nth-child(10n+5) > .card, .card-area:nth-child(10n+5) > .card .card-area__back {
  background-image: linear-gradient(to top, #1c3b41, #69d449);
}
.card-area:nth-child(10n+6) > .card, .card-area:nth-child(10n+6) > .card .card-area__back {
  background-image: linear-gradient(to top, #0a5df8, #ed2d53);
}
.card-area:nth-child(10n+7) > .card, .card-area:nth-child(10n+7) > .card .card-area__back {
  background-image: linear-gradient(to top, #661069, #30d26e);
}
.card-area:nth-child(10n+8) > .card, .card-area:nth-child(10n+8) > .card .card-area__back {
  background-image: linear-gradient(to top, #702b19, #cec360);
}
.card-area:nth-child(10n+9) > .card, .card-area:nth-child(10n+9) > .card .card-area__back {
  background-image: linear-gradient(to top, #034a66, #ced11a);
}
.card-area:nth-child(10n+10) > .card, .card-area:nth-child(10n+10) > .card .card-area__back {
  background-image: linear-gradient(to top, #ec458d, #474ed7);
}
.card-area:hover .card, .card-area:focus .card {
  transform: rotateY(180deg);
}
@media (min-width: 426px) and (max-width: 768px) {
  .card-area {
    min-width: 100%;
    height: 200px;
    margin-bottom: 1em;
    transition: all 0.2s;
  }
  .card-area .card {
    min-width: 100%;
    height: 200px;
  }
  .card-area .card__back {
    padding: 3em 1em;
  }
  .card-area .card__image {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
  .card-area .card__content {
    top: 0;
    padding-left: 45%;
  }
}

.slider-container {
  margin: 2rem auto;
  width: 80%;
  border-radius: 0.5rem 5rem;
  background: linear-gradient(135deg, #ffd60b 0%, #ce8929 18%, #000000 82%);
  color: white;
}

.slider {
  position: relative;
  width: 95%;
  height: 300px;
  margin: auto;
}
.slider__text {
  width: 50%;
  margin-left: 2em;
  line-height: 1.5;
}
.slider li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: inherit;
  height: inherit;
  transition: all 0.5s ease-in-out;
}
.slider li:first-child {
  opacity: 1;
}
.slider li:target {
  opacity: 1;
}
.slider li img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  margin: auto;
  border-radius: 100px 5px;
}
.slider-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding-bottom: 0.5rem;
}
.slider-menu li {
  height: 3rem;
  width: 3rem;
  opacity: 0.5;
  transition: all 0.2s;
  margin: 0.5rem;
}
.slider-menu li:hover {
  margin: 0 0.5rem;
  opacity: 1;
}
.slider-menu li:hover img {
  width: 3.5rem;
  height: 3.5rem;
}
.slider-menu img {
  height: 3rem;
  width: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0;
  transition: all 0.2s;
}

/*********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #1f3460;
  border: 1px solid #14213D;
  border-radius: 5px;
}

/*********************************
            NAV BAR
*********************************/
.nav-bar {
  background-color: #14213D;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0.5em 0;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-item {
  text-align: center;
  margin: 0 0.5em;
}
.nav-bar__nav-link {
  display: block;
  background-color: #14213D;
  color: #fff;
  padding: 1em 2em;
  text-decoration: none;
  transition: 0.25s;
}
.nav-bar__nav-link:hover {
  background-color: #1f3460;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/*********************************
            SEARCH BAR
*********************************/
.search-bar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.search-bar__logo-container, .search-bar__form-container {
  padding: 0.5em;
}
.search-bar__logo-container {
  background-color: #333;
  display: flex;
}
.search-bar__logo-svg {
  height: 3.5em;
  margin: 0 1em;
}
.search-bar__logo-name {
  margin: auto 0;
  font-size: 1.8rem;
}
.search-bar__form-container {
  background-color: #333;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar__form-label {
  background-color: #333;
  cursor: pointer;
}
.search-bar__form-search {
  background-color: #E5E5E5;
  font-size: 1.25rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0.5rem;
  width: 50%;
  margin: 0 1.5rem;
}
.search-bar__form-submit {
  color: #fff;
  background-color: #333;
}
.search-bar__carrito-container {
  flex: 0 0 3em;
  background-color: #333;
  align-self: center;
  margin: auto 2em;
}
@media (max-width: 768px) {
  .search-bar {
    flex-wrap: wrap;
  }
  .search-bar__logo-container {
    justify-content: center;
    width: 100%;
  }
  .search-bar__form-container {
    flex: 3;
    justify-content: space-between;
  }
  .search-bar__form-label {
    display: none;
  }
  .search-bar__form-search {
    margin: 0 0.5rem 0 0;
    flex: 2;
    font-size: 1rem;
  }
  .search-bar__carrito-container {
    margin: 0;
    width: 3rem;
  }
  .search-bar__carrito-container img {
    height: 2.3rem;
  }
}

/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
}
.menu-toggle__label {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}
.menu-toggle__pan-arriba, .menu-toggle__medallon, .menu-toggle__pan-abajo {
  display: block;
  background-color: #E5E5E5;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}
.menu-toggle__pan-arriba {
  top: 0.8em;
}
.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.15em;
}
.menu-toggle__pan-abajo {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

/*********************************
            INDEX
*********************************/
.section-cards {
  padding: 1em;
}
.section-cards__header {
  margin-bottom: 2em;
  line-height: 2;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}