/*********************************
            RESET
*********************************/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Montserrat:wght@100;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 425) {
  html {
    font-size: 12px;
  }
}
/*********************************
            FONTS
*********************************/
body {
  font-family: "Ubuntu", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

/*********************************
            BUTTONS
*********************************/
.search-bar__form-submit {
  font-size: 1.4rem;
  padding: 0.3rem 0.8rem;
  border: solid #E5E5E5 1px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.search-bar__form-submit:hover, .search-bar__form-submit:focus {
  background-color: #FCA311;
  color: #14213D;
  border: solid 1px;
}

.button {
  font-size: 1.4rem;
  padding: 0.3rem 0.8rem;
  border: solid #333 0.15rem;
  background-color: transparent;
  border-radius: 0.15rem;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #333;
  color: #E5E5E5;
  border: solid 0.15rem #333;
}

/*********************************
            CARDS
*********************************/
.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: visible;
  display: block;
  position: relative;
  color: #fcfdfe;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.7s;
}
.card__image {
  background-size: cover;
  height: 200px;
  background-position: center;
}
.card__content {
  position: absolute;
  bottom: 0;
  padding: 3em 1em 1em;
  height: 230px;
  width: 100%;
  z-index: -1;
}
.card__article, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__back {
  transform: rotateY(180deg);
  padding: 2em 1em;
}
.card__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.card__links i {
  padding: 0.5rem;
}
.card__links i:hover {
  color: #FCA311;
}
.card__price {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}

.card-area * {
  transform-style: preserve-3d;
}
.card-area > .card, .card-area > .card .card-area__back {
  background: linear-gradient(0deg, #adadad 0%, #e2e2e2 4%, white 100%);
  color: #333;
}
.card-area:hover .card, .card-area:focus .card {
  transform: rotateY(180deg);
}
@media (min-width: 426px) and (max-width: 768px) {
  .card-area {
    min-width: 100%;
    height: 200px;
    margin-bottom: 1em;
    transition: all 0.2s;
  }
  .card-area .card {
    min-width: 100%;
    height: 200px;
  }
  .card-area .card__back {
    padding: 3em 1em;
  }
  .card-area .card__image {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
  .card-area .card__content {
    top: 0;
    padding-left: 45%;
  }
}

/*********************************
            FORMS
*********************************/
.form__container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #E5E5E5;
}
.form__container--contact {
  background-image: url(../img/form/laptop02.jpg);
  background-attachment: fixed;
}
.form__container--load {
  background-image: url(../img/form/box.jpg);
}
.form label,
.form input,
.form textarea {
  display: block;
  padding: 0.5rem;
  justify-items: center;
}
.form textarea {
  width: 90%;
  height: 10rem;
  margin: 0 auto;
  resize: none;
}
.form__box {
  margin: 5rem auto;
  border: solid black 0.15rem;
  background-color: rgba(51, 51, 51, 0.302);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.form--contact {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form--contact__input-container:not(:nth-child(3)) {
  margin: 1rem 5rem;
}
.form--contact label {
  text-align: center;
}
.form--contact .button {
  justify-items: center;
  margin: auto;
}
.form--load__box {
  margin: 0 5%;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 4rem;
  align-items: center;
  justify-items: center;
}
.form--load__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.form--load__input-container label,
.form--load__input-container select {
  font-size: 1.15rem;
}
.form--load__input-container input[type=number] {
  text-align: right;
}
.form--load__textarea-container {
  grid-column: 1/-1;
  display: block;
}
.form--load__textarea-container textarea {
  width: 30rem;
}
@media (max-width: 620px) {
  .form--load {
    width: 90%;
  }
  .form--load__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .form--load__box textarea {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

/*********************************
            SLIDER
*********************************/
.slider {
  position: relative;
  width: 95%;
  height: 300px;
  margin: auto;
}
.slider-section {
  background-color: black;
  padding: 4rem 0;
}
.slider-container {
  margin: 0 auto;
  width: 80%;
  border-radius: 0.5rem 5rem;
  background: linear-gradient(135deg, #ffd60b 0%, #ce8929 18%, #000000 82%);
  color: white;
  max-width: 1200px;
}
.slider__text {
  width: 50%;
  margin-left: 2rem;
  line-height: 1.5;
}
.slider li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  margin-top: 1rem;
  justify-content: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  width: inherit;
  height: 300px;
  transition: all 0.5s ease-in-out;
}
.slider li:first-child {
  opacity: 1;
}
.slider li:target {
  opacity: 1;
}
.slider li img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  border-radius: 100px 5px;
}
.slider li div {
  width: 100%;
}
.slider-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding-bottom: 0.5rem;
}
.slider-menu li {
  height: 3rem;
  width: 3rem;
  opacity: 0.5;
  transition: all 0.2s;
  margin: 0.5rem;
}
.slider-menu li:hover {
  margin: 0 0.5rem;
  opacity: 1;
}
.slider-menu li:hover img {
  width: 3.5rem;
  height: 3.5rem;
}
.slider-menu img {
  height: 3rem;
  width: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0;
  transition: all 0.2s;
}
@media (max-width: 768px) {
  .slider {
    height: 35rem;
  }
  .slider-container {
    border-radius: 0.5rem 2rem;
  }
  .slider li {
    grid-template-columns: 1fr;
    margin: 1.5rem auto;
    align-items: center;
    justify-items: center;
  }
  .slider li div {
    width: 90%;
    text-align: center;
  }
  .slider-menu {
    gap: 0.5rem;
  }
}
@media (max-width: 375px) {
  .slider {
    height: 43rem;
  }
  .slider-menu {
    gap: 0.3rem;
  }
  .slider-menu li {
    margin: 0;
  }
  .slider-menu li:hover {
    margin: 0;
  }
  .slider-menu li:hover img {
    height: 3rem;
    width: 3rem;
  }
}

/*********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #1f3460;
  border: 1px solid #14213D;
  border-radius: 5px;
}

/*********************************
            NAV BAR
*********************************/
.nav-bar {
  background-color: #14213D;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0.5em 0;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-item {
  text-align: center;
  margin: 0 0.5em;
}
.nav-bar__nav-link {
  display: block;
  background-color: #14213D;
  color: #fff;
  padding: 1em 2em;
  text-decoration: none;
  transition: 0.25s;
}
.nav-bar__nav-link:hover {
  background-color: #1f3460;
  border-radius: 0.3rem;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/*********************************
            SEARCH BAR
*********************************/
.search-bar {
  background-color: #111;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 4.5rem;
  justify-content: space-between;
  color: #fff;
  border-bottom: #fff solid 1px;
}
.search-bar__logo-container, .search-bar__form-container {
  padding: 0.5em;
}
.search-bar__logo-container {
  background-color: #111;
  display: flex;
}
.search-bar__logo-svg {
  height: 3.5em;
  margin: 0 1em;
}
.search-bar__logo-name {
  margin: auto 0;
  font-size: 1.8rem;
}
.search-bar__form-container {
  background-color: #111;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/6;
}
.search-bar__form-label {
  background-color: #111;
  cursor: pointer;
}
.search-bar__form-search {
  background-color: #E5E5E5;
  font-size: 1.25rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0.5rem;
  width: 50%;
  margin: 0 1.5rem;
}
.search-bar__form-submit {
  color: #fff;
  background-color: #111;
}
.search-bar__carrito-container {
  background-color: #111;
  align-self: center;
  justify-self: end;
  margin: auto 2em;
}
.search-bar__carrito-container .fas {
  font-size: 2.5rem;
  border-radius: 50%;
  padding: 0.7rem;
  transition: all 0.2s;
}
.search-bar__carrito-container .fas:hover {
  color: #333;
  background-color: #FCA311;
}
@media (max-width: 768px) {
  .search-bar {
    grid-auto-rows: auto;
  }
  .search-bar__logo-container {
    justify-content: center;
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
  }
  .search-bar__logo-svg {
    display: none;
  }
  .search-bar__form-container {
    flex: 3;
    justify-content: space-between;
    grid-column: 1/-1;
  }
  .search-bar__form-label {
    display: none;
  }
  .search-bar__form-search {
    margin: 0 0.5rem 0 0;
    flex: 2;
    font-size: 1rem;
  }
  .search-bar__carrito-container {
    margin: 0 1rem 0 0;
    width: 3rem;
    grid-column: 5/6;
  }
  .search-bar__carrito-container img {
    height: 3rem;
  }
}

/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
}
.menu-toggle__label {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}
.menu-toggle__pan-arriba, .menu-toggle__medallon, .menu-toggle__pan-abajo {
  display: block;
  background-color: #E5E5E5;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}
.menu-toggle__pan-arriba {
  top: 0.8em;
}
.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.15em;
}
.menu-toggle__pan-abajo {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    height: 3.5rem;
    width: 3.5rem;
    align-self: center;
    justify-self: end;
    margin-right: 1rem;
    grid-column: 6/7;
  }
}

/*********************************
            FOOTER
*********************************/
.footer {
  background-color: #222;
  color: #E5E5E5;
  min-height: 200px;
  border-top: #E5E5E5 0.15rem solid;
}
.footer__container {
  width: 100%;
  height: 190px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.footer__logo-img {
  display: block;
  height: 6rem;
}
.footer__external-links a {
  display: inline-block;
  font-size: 2rem;
  margin-right: 1.8rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
.footer__external-links a:hover {
  color: #FCA311;
}
@media (max-width: 425px) {
  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__container > div {
    margin: 1rem;
  }
  .footer__logo-img {
    display: none;
  }
  .footer__external-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/*********************************
            INDEX
*********************************/
.section-cards {
  padding: 2rem;
  color: #333;
  max-width: 1400px;
  margin: 0 auto;
}
.section-cards__header {
  margin-bottom: 2em;
  line-height: 2;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}
/*********************************
            NOSOTROS
*********************************/
.body-about {
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  color: #fff;
}

.about {
  font-family: "Montserrat", sans-serif;
}
.about__header {
  padding: 3rem;
  border-radius: 1rem;
  text-align: center;
  margin: 2rem auto;
  box-shadow: 0px 0px 16px -1px #FFFFFF, 0px 0px 3px -1px #FFFFFF, 0px 0px 10px -1px #006714;
  background-color: #333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 2;
}
.about__header h1,
.about__header h2 {
  font-weight: 100;
}
.about__display {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.about__box {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  border-radius: 1rem;
  margin: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.about__box--double {
  grid-column: 1/3;
  margin: 6rem 10% 10rem;
}
.about__button {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  border-radius: 5px;
  border: 1px solid #636363;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #616161;
  transition: all 0.25s;
  z-index: 5;
}
.about__button:hover {
  box-shadow: 0 0 0.5rem white, 0 0 1rem #93e0fa;
}
.about__button:active {
  position: relative;
  top: 1px;
}
.about__empty {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1rem 0.5rem black;
  margin: 1rem;
  position: relative;
  height: 10rem;
  width: 100%;
}
.about__empty--double {
  height: 20rem;
}
.about__checkbox {
  display: none;
}
.about__checkbox:checked + div .about__screen {
  opacity: 85%;
  transform: scale(1.25) translateY(10%);
}
.about__checkbox:checked + div .about__screen--normal {
  box-shadow: inset 0 0 2rem 0.2rem white, 0 0 1rem white, 0 0 2.5rem 0.5rem #93e0fa;
}
.about__checkbox:checked + div .about__screen--error {
  box-shadow: inset 0 0 2rem 0.2rem white, 0 0 1rem white, 0 0 2rem 0.25rem white, 0 0 4rem 0.5rem red, 0 0 8rem 0.8rem red, 0 0 10rem 1rem red;
  transition: 0.15s;
}
.about__checkbox:checked + div .about__screen--warning {
  box-shadow: inset 0 0 2rem 0.2rem white, 0 0 1rem white, 0 0 2.5rem 0.5rem #FCA311;
}
.about__screen {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 0.25rem;
}
.about__screen--normal {
  background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  color: darkslategray;
}
.about__screen--error {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  color: white;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.about__screen--warning {
  color: white;
  background-color: #FCA311;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.1rem;
}
.about__screen h3 {
  text-align: center;
  margin: auto;
}
.about__img {
  height: 7rem;
  border-radius: 5px;
  opacity: 80%;
  margin: auto 0.3rem;
}
.about__img--01 {
  float: right;
}
.about__img--02 {
  float: left;
}
.about__techs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__techs i {
  margin: 1rem auto;
  font-size: 4rem;
  transition: all 0.25s;
  text-shadow: white 0 0 1rem;
}
.about__techs i:hover {
  transform: scale(1.5);
}
@media (max-width: 1024px) {
  .about__display {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
  }
  .about__box {
    width: 80%;
    margin: auto;
  }
  .about__boxdouble {
    margin-bottom: 15rem;
  }
}
@media (max-width: 768px) {
  .about__header {
    width: 80%;
  }
  .about__display {
    gap: 10rem;
  }
  .about__box--double {
    margin-bottom: 15rem;
  }
  .about__techs i {
    font-size: 2.5rem;
  }
  .about__techs i:hover {
    transform: none;
  }
  .about__screen {
    line-height: 1;
  }
}
@media (max-width: 425px) {
  .about__box--double {
    height: 40rem;
    justify-content: flex-start;
  }
  .about__empty--double {
    height: 40rem;
  }
  .about__checkbox:checked + div .about__screen {
    transform: scale(1.05);
  }
}