/*********************************
            FOOTER
*********************************/
.footer {
    background-color: #222;
    color: $platinum;
    min-height: 200px;
    border-top: $platinum .15rem solid;

    &__container {
        width: 100%;
        height: 190px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

    }
    &__logo-img {
        display: block;
        height: 6rem;
    }
    &__external-links {
        a {
            display: inline-block;
            font-size: 2rem;
            margin-right: 1.8rem;
            border-radius: .2rem;
            padding: .5rem;

            &:hover {
                color: $alt-color;
            }

        }
    }

    @media (max-width: 425px){
        
        &__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: fit-content;

        > div{
            margin: 1rem;
        }
        }

        &__logo-img {
            display: none;
        }
        &__external-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}