/*********************************
            BUTTONS
*********************************/
.search-bar__form-submit {
    font-size: 1.4rem;
    padding: .3rem .8rem;
    border: solid $platinum 1px;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s;
    &:hover,
    &:focus {
        // background-color: $alt-color;
        // color: $primary-color;
        // border: solid 1px;
        background-color: #ce8929;
        box-shadow: 
                    inset 0rem 0rem  .8rem -.2rem  white,
                    inset 0rem 0rem  .8rem -.4rem  #ffd60b,
                    0rem 0rem  .8rem -.4rem  white,
                    0rem 0rem  .8rem -.2rem  white,
                    0rem 0rem  .8rem   #ffd60b;
                    
    }
}