/*********************************
            CARDS
*********************************/
.card {
    outline: none;
    flex-grow: 1;
    width: 220px;
    max-width: 300px;
    height: 400px;
    overflow: visible;
    display: block;
    position: relative;
    color: #fcfdfe;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2), 0 0 3px rgba(0, 0, 0, .4);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;

    &__image {
        background-size: cover;
        height: 200px;
        background-position: center;
    }

    &__content {
        position: absolute;
        bottom: 0;
        padding: 3em 1em 1em;
        height: 230px;
        width: 100%;
        z-index: -1;
    }

    &__article,
    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

    }
    &__back {
        transform: rotateY(180deg);
        padding: 2em 1em;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem;
        font-size: 2rem;

        i {
            padding: .5rem;
            
            &:hover {
                color: $alt-color;
            }
        }
    }

    &__price {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: bold;
    }


    @media (min-width: 1024px) {
        & {
            min-width: 230px;
        }
    }

    @media (min-width: 1280px) {
        & {
            min-width: 240px;
        }
    }
}

.card-area{
    * {
        transform-style: preserve-3d;
    }
    & > .card,
    & > .card &__back {
        // background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
        background: linear-gradient(0deg, rgba(173,173,173,1) 0%, rgba(226,226,226,1) 4%, rgba(255,255,255,1) 100%);

        color: #333;
    }

    &:hover .card,
    &:focus .card {
    transform: rotateY(180deg);
    }

    
    @media (min-width: 426px) and (max-width: 768px) {
        min-width: 100%;
        height: 200px;
        margin-bottom: 1em;
        transition: all .2s;
        & .card {
            min-width: 100%;
            height: 200px;
            
            &__back {
                padding: 3em 1em;
            }
            &__image {
                width: 40%;
                clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            }
            &__content {
                top: 0;
                padding-left: 45%;
            }
        }
        
    }
}
