/*********************************
            FORMS
*********************************/
.form {
    &__container--contact {
        background-image: url(../img/form/laptop02.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--contact {
        color: $platinum;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__input-container:not(:nth-child(3)) {
            margin: 1rem 5rem;
        }

        &__box {
            margin: 5rem auto;
            border: solid black .15rem;
            background-color: hsla(0, 0%, 20%, 0.302);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        label,
        input,
        textarea {
            display: block;
            padding: .5rem;
            justify-items: center;
        }

        label {
            text-align: center;
        }

        textarea {
            width: 90%;
            height: 10rem;
            margin: 0 auto;
            resize: none;
        }

        .button {
            justify-items: center;
            margin: auto;
        }
    }

}