/*********************************
            SLIDER
*********************************/
.slider {
    position: relative;
    width: 95%;
    height: 300px;
    margin: auto;
    
    &-section {
        background-color: black;
        padding: 4rem 0;
    }

    &-container {
        margin: 0  auto;
        width: 80%;
        border-radius: .5rem 5rem;
        background: linear-gradient(135deg, #ffd60b 0%,#ce8929 18%,#000000 82%);
        color: white;
        max-width: 1200px;
    }

    &__text {
        width: 50%;
        margin-left: 2rem;
        line-height: 1.5;
    }

    li {
        // background-color: red;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        margin-top: 1rem;
        // display: flex;
        // flex-flow: column wrap;
        justify-content: center;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        width: inherit;
        height: 300px;
        transition: all .5s ease-in-out;
        &:first-child {
            opacity: 1;
        }
        &:target {
            opacity: 1;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 275px;
            // margin: auto;
            border-radius: 100px 5px ;
        }
        div {
            width: 100%;
        }
    }
    &-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em;
        padding-bottom: .5rem;
        
        li {
            height: 3rem;
            width: 3rem;
            opacity: .5;
            transition: all .2s ;
            margin: .5rem;

            &:hover {
                margin: 0 .5rem;
                opacity: 1;
                img {
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }
        }

        img {
            height: 3rem;
            width: 3rem;
            object-fit: cover;
            border-radius: 10px 0;
            transition: all .2s;
        }
    }
    @media (max-width: 768px) {    
        height: 35rem;
        &-container{
            border-radius: .5rem 2rem;
        }
        li {
            grid-template-columns: 1fr;
            margin: 1.5rem auto;
            align-items: center;
            justify-items: center;
            & > * {
                width: 100%;
            }
        }
        &-menu {
            gap: .5rem;
        }
    }
    @media (max-width: 375px) {
        height:  39rem;
        &-menu {
            gap: .3rem;
            li {
                margin: 0;
                &:hover{
                    margin: 0;
                    img {
                        height: 3rem;
                        width: 3rem;
                    }
                }
            }
        }
    }
}