/*********************************
            RESET
*********************************/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-image: $light-gradient;
    color: #333;
}

a{
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 425) {
    html {
        font-size: 12px;
    }
}