/*********************************
            RESET
*********************************/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    min-height: 1080px;
    background-image: $light-gradient;
    color: $platinum;
}

a{
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}