
<div class="form__container form__container--load">

    <form action="node.js" method="POST" class="form form--load">

        <div class="form__box form--load__box">

            <div class="form--load__input-container">
                <label for="product-name" class="form--load__input-label">
                    Nombre de producto: 
                </label>
                <input 
                    type="text" 
                    class="form--load__input" 
                    id="product-name" 
                    name="product-name"
                    >
                    <div class="input--error"><p>Campo Inválido</p></div>
            </div>

            <div class="form--load__input-container">
                <label for="product-price" class="form--load__input-label">
                    Precio:
                </label>
                <input 
                    type="number" 
                    class="form--load__input" 
                    id="product-price" 
                    name="product-price"
                    >
                    <div class="input--error"><p>Campo Inválido</p></div>
            </div>

            <div class="form--load__input-container">
                <label for="product-stock" class="form--load__input-label">
                    Stock: 
                </label>
                <input 
                    type="number" 
                    class="form--load__input" 
                    id="product-stock" 
                    name="product-stock"
                    >
                    <div class="input--error"><p>Campo Inválido</p></div>
            </div>

            <div class="form--load__input-container">
                <label for="product-brand" class="form--load__input-label">
                    Marca: 
                </label>
                <input 
                    type="text" 
                    class="form--load__input" 
                    id="product-brand" 
                    name="product-brand"
                    >
                    <div class="input--error"><p>Campo Inválido</p></div>
            </div>

            <div class="form--load__input-container">
                <label for="product-category" class="form--load__input-label">
                    Categoría:
                </label>
                <select  
                    class="form--load__select" 
                    id="product-category" 
                    name="product-category"
                    >
                    <option value="">- Seleccionar -</option>
                    <option value="cel-tel">Celulares y Teléfonos</option>
                    <option value="comput">Computación</option>
                    <option value="cam-acc">Cámaras y Accesorios</option>
                    <option value="ele-aud-vid">Electrónica, Audio y Video</option>
                    <option value="con-gam">Consolas y Videojuegos</option>
                    <option value="tel">Televisores</option>
                </select>
                <div class="input--error"><p>Campo Inválido</p></div>
            </div>

            <div class="form--load__input-container">
                <label for="product-image" class="form--load__input-label">
                    Foto (URL): 
                </label>
                <input 
                    type="text" 
                    class="form--load__input" 
                    id="product-image" 
                    name="product-image" 
                    accept="image/png, image/jpeg"
                    >
                    <div class="input--error"><p>Campo Inválido</p></div>
            </div>

            <div class="form--load__input-container form--load__textarea-container">
                <label for="product-details" class="form--load__input-label">
                    Detalles: 
                </label>
                <textarea 
                    class="form--load__textarea" 
                    id="product-details" 
                    name="product-details"
                    ></textarea>
                    <div class="input--error"><p>Campo Inválido</p></div>
            </div>

            <div class="form--load__input-container">
                <input 
                    type="checkbox" 
                    class="form--load__input" 
                    id="product-free-shipping" 
                    name="product-free-shipping"
                    checked
                    >
                <label 
                    for="product-free-shipping" 
                    class="form--load__input-label">
                    Envío sin cargo
                </label>
            </div>

            <div class="form--load__input-container">
                <input 
                type="submit" 
                class="form--load__imput button" 
                id="product-submit" 
                name="product-submit"
                >
            </div>
            
        </div>
        
    </form>

</div>

<div id="product--table">
    
</div>