<div class="card-area">
    <div class="card" href="#">
        <article class="card__article">
            <div
                class="card__image"
                style="background-image: url('{{image}}')"
            >
            </div>
            
            <div class="card__content">
                <h3 class="card__heading">{{title}}</h3>
                <div class="card__description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card__price">
                    <p>{{price}}</p>
                </div>
            </div>
        </article>
        <article class="card__back">
            <div class="card__links">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="fas fa-cart-plus"></i></a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur unde nostrum optio, tenetur tempore nemo eligendi omnis modi, quo quae totam molestias facere iusto aliquid! Distinctio velit enim culpa obcaecati!</p>
            <div class="card__price">
                <p>{{price}}</p>
            </div>
        </article>
    </div>
</div>