
<div class="form__container form__container--contact">
    <form action="node.js" method="POST" class="form form--contact">
            <div class="form__box form--contact__box">
                <div class="form__input-container form--contact__input-container">
                        <label for="contact-user-name" class="form__input-label form--contact__input-label">
                            Nombre completo: 
                        </label>
                        <input 
                            type="text"
                            class="form__input"
                            id="contact-user-name"
                            name="contact-user-name"
                            required>
                    </div>
        
                    <div class="form__input-container form--contact__input-container">
                        <label for="contact-user-email" class="form__input-label form--contact__input-label">
                            Correo electrónico:
                        </label>
                        <input 
                            type="email"
                            class="form__input"
                            id="contact-user-email"
                            name="contact-user-email"
                            required>
                    </div>
        
                    <div class="form__input-container form--contact__input-container">
                        <label for="contact-user-comments" class="form__input-label form--contact__input-label">
                            Comentarios:
                        </label>
                        <textarea 
                            name="contact-user-comments" 
                            class="form__textarea"
                            id="contact-user-comments"
                            required
                            ></textarea>
                    </div>
        
                    <div class="form__input-container form--contact__input-container">
                        <input 
                            type="submit"
                            class="form__input button"
                            id="contact-submit"
                            name="contact-submit">
                    </div>
            </div>
        </form>
</div>