
<div class="about">
    <header class="about__header">
        <h1 class="abut__header-title">
            Connecticus
        </h1>
        <h2>
            Una empresa de la Weyland-Yutani Corporation
        </h2>
    </header>
    <div class="about__display">
        <div class="about__box">
            <label for="about__checkbox01" class="about__button">Creación</label>
                <div class="about__empty">
                    <input type="checkbox" id="about__checkbox01" class="about__checkbox">
                    <div class="hologram__container">
                        <div class="about__screen about__screen--normal">
                            <h3>///// Connecticus /////</h3>
                            <p>
                                <img src="img/nosotros/synth.jpg" alt="brazo de sintético" class="about__img about__img--01">
                                Somos una empresa ambiciosa que comenzó como un simple proyecto de aprendizaje. Pero este proyecto nunca paró de crecer, expandiéndose por todo el mundo brindando tecnología de punta al mejor precio. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="about__box">
                <label for="about__checkbox02" class="about__button">Wey-Yu</label>
                <div class="about__empty">
                    <input type="checkbox" id="about__checkbox02" class="about__checkbox">
                    <div class="hologram__container">
                        <div class="about__screen about__screen--normal">
                            <h3>///// Weyland-Yutani Co. /////</h3>
                            <p>
                                <img src="img/nosotros/peterweyland.jpg" alt="Peter Weyland" class="about__img about__img--02">
                                Cuando este buen proyecto comenzó a crecer llamó la atención de una gran corporación: La Weyland-Yutani. Ésta dio trabajo a miles de personas QUE AL PARECER NO PUEDEN HACER SILENCIO Y SE PONEN A CORRER EN HORAS LABORALES
                            </p>
                            <p>
                                [Nota: Editar antes de subir]
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="about__box">
            <label for="about__radio01" class="about__button">Construyendo</label>
                <div class="about__empty">
                    <input type="radio" id="about__radio01" class="about__checkbox">
                    <div class="hologram__container">
                        <div class="about__screen about__screen--error">
                            <h3 class="error">
                                <span aria-hidden="true">///// Construyendo un Mejor Futuro /////</span>
                                ///// Construyendo un Mejor Futuro /////
                                <span aria-hidden="true">///// Construyendo un Mejor Futuro /////</span>
                            </h3>
                            <p class="error">
                                <span aria-hidden="true">ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR </span>
                                ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR 
                                <span aria-hidden="true">ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR ERROR </span>
                            </p>
                            <p class="error">
                                <span aria-hidden="true">SHUTTING DOWN . . . FAILED.</span>
                                SHUTTING DOWN . . . FAILED.
                                <span aria-hidden="true">SHUTTING DOWN . . . FAILED.</span>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="about__box">
            <label for="about__checkbox03" class="about__button">Fundador</label>
                <div class="about__empty">
                    <input type="checkbox" id="about__checkbox03" class="about__checkbox">
                    <div class="hologram__container">
                        <div class="about__screen about__screen--warning">
                            <h3>Emergency Communications System</h3>
                            <p>
                                Signal Found...
                            </p>
                            <p>
                                Connecting...
                            </p>
                            <p>
                                Si esto llega a alguien mi nombre es Ramiro Gonzalez. 
                            </p>
                            <p>
                                Soy desarrollador web a bordo de la ED.IT... Puede que el último. Hace horas que no se nada de nadie más.
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="about__box about__box--double">
            <label for="about__checkbox04" class="about__button">Nuestras Tecnologías</label>
                <div class="about__empty about__empty--double">
                    <input type="checkbox" id="about__checkbox04" class="about__checkbox">
                    <div class="hologram__container">
                        <div class="about__screen about__screen--warning">
                            <h3>Emergency Communications System</h3>
                            <p>
                                Los escucho en las paredes. Si tan solo hubiera podido terminar mi cursada de Educación IT Fullstack Engineer. Esa si que era una cursada! Info bien explicada y en abundancia (aunque ese Alumni podía mejorar).
                            </p>
                            <p>
                                Para colmo sacaban ofertones en su página <a href="https://www.educacionit.com" target="_blank">https://www.educacionit.com</a> con variedad de cursos para elegir. Estas son algunas de las cosas que iba a aprender:
                            </p>
                            <div class="about__techs">
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-sass"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-node"></i>
                            </div>
                            <p>
                                Esas y muchas más a precios criminalmente baratos pero... nada de eso importa ahora.
                            </p>
                            <p>
                                No puedo volver... no con un código así de desprolijo. Y los bugs... Están por todas partes. En un momento, abandonando toda esperanza, quise usar <em>!important</em> pero no tuve las agallas. Aún así este es mi fin.   
                            </p>
                            <p>
                                Terminen el código por mí... 
                            </p>
                            <p>
                                Connecting . . .
                            </p>
                            <p>
                                . . .
                            </p>
                            <p>
                                Lost Signal.
                            </p>
                        </div>
                    </div>
            </div>
        </div>



    </div>
</div>
